@import "@styles/resource.scss";
@mixin account-link {
  color: $account-theme-infofont-100;
  font-weight: $font-weight-bold;
  &:hover {
    color: $light-green;
    text-decoration: underline;
  }
}

.account-page {
  min-height: var(--windSize);
  width: 100%;
  height: 100%;
  background: linear-gradient(
    45deg,
    $account-theme-orange-200,
    $account-theme-purple-200
  );
  display: flex;
  justify-content: center;
  align-items: center;
  @include media-down(768px) {
    align-items: stretch;
  }
  .account-container {
    margin: 30px;
    display: flex;
    width: 80%;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px,
      rgba(0, 0, 0, 0.04) 0px 10px 10px;
    @include media-down(768px) {
      width: 100%;
      margin: 0px;
      flex-direction: column;
      border-radius: 0;
    }

    .left-info {
      width: 30%;
      padding: 20px;
      background-color: $account-theme-yellow-100;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: bottom 15% center;
      background-image: url("/account-theme01.jpg");

      @include media-down(992px) {
        width: 50%;
        padding: 10px;
      }
      @include media-down(768px) {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;

        width: 100%;
      }
      .left-info-message {
        line-height: $lg-lineheight;
        color: $account-theme-infofont-100;
        margin-top: 20px;
        margin-bottom: 20px;
      }
      .left-info-logo {
        display: block;
        margin-top: 20px;

        font-weight: $font-weight-bgbold;
        line-height: $normal-lineheight;
        font-size: 44px;
        text-align: center;
        color: $account-theme-infofont-100;
        @include media-down(768px) {
          text-align: start;
          margin-bottom: 0px;
        }
      }
      .left-info-image {
        max-width: 100%;
        max-height: 100%;
        object-fit: fill;
      }
    }
    .right-option {
      width: 70%;
      display: flex;
      flex-direction: column;

      padding: 20px;

      // background-color: $account-theme-white-100;
      @include media-down(992px) {
        width: 50%;
      }
      @include media-down(768px) {
        padding: 10px;

        width: 100%;
      }
      .option-message {
        margin-bottom: $mg-20;
        .option-message-account {
          text-align: right;
          font-size: $font-size-sm;
          a {
            @include account-link;
          }
          @include media-down(768px) {
            text-align: center;
          }
        }
        @include media-down(768px) {
          margin: $mg-10 0;
        }
      }
      .option-form {
        padding: $pd-10;
        margin: 0 auto $mg-20 auto;
        backdrop-filter: blur(10px);
        border-radius: 10px;
        border: 1px solid $light-dark;
        min-height: 375px;
        @include media-up(992px) {
          width: 80%;
        }
        @include media-down(991.9px) {
          width: 100%;
        }
        .already-login {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .already-login-title {
            margin: 10px 0;
            font-size: 32px;
          }
          .already-login-name {
            display: inline-block;
            font-size: 24px;
            line-height: 1;
            text-align: center;
            a {
              font-size: 36px;
              color: $account-theme-infofont-100;
            }
          }
          .already-login-option {
            margin-top: 30px;

            .back {
              font-size: 24px;
              a {
                text-decoration: underline;
                color: $account-theme-infofont-100;
              }
            }
            .or {
              font-size: 36px;
              font-weight: 700;
              margin: 20px 0;
            }
          }
        }
      }
      .other-information {
        justify-self: flex-end;
        font-size: $font-size-sm;
        text-align: center;
        font-weight: $font-weight-normal;
        .information-detile {
          a {
            @include account-link();
          }
        }
      }
    }
  }
}
