//color

$theme-light: #fafafa;
$theme-dark: #333;

//margin
$m0: 0px;

//padding
$p0: 0px;

//font-family

$font-global-default: "Lato";

//fontsize

$font-size-base: 16px;
$font-size-sm: $font-size-base * 0.875;
$font-size-lg: $font-size-base * 1.25;
