@import "@styles/resource.scss";

.login-form {
  .login-form-forgot {
    float: right;
    color: $account-theme-infofont-100;
    font-weight: $font-weight-bold;
  }
  .login-form-button {
    width: 100%;
    margin-bottom: $mg-10;
  }
  .login-rest-button {
    width: fit-content;
  }
}
