@import "@styles/resource.scss";

.login-form {
  .login-form-forgot {
    float: right;
    color: $account-theme-infofont-100;
    font-weight: $font-weight-bold;
    text-align: end;
  }
  .login-form-button {
    width: 100%;
    margin-bottom: $mg-10;
    font-weight: $font-weight-bold;
  }
  .login-rest-button {
    width: fit-content;
  }

  .remember-forgot {
    margin-bottom: $m0;
    .remember-label {
      color: $account-theme-infofont-100;
      font-weight: $font-weight-bold;
    }
    .remember-label,
    .login-form-forgot {
      width: 50%;
    }
  }
  .argee {
    margin-bottom: $mg-5;
    .login-form-agree {
      padding-left: $pd-4;
      color: $account-theme-infofont-100;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
