@import "@styles/resource.scss";
.account-page {
  width: 100%;
  height: var(--windSize);
  background: linear-gradient(
    45deg,
    $account-theme-orange-200,
    $account-theme-purple-200
  );
  display: flex;
  justify-content: center;
  align-items: center;
  .account-container {
    display: flex;
    width: 80%;
    height: 80%;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px,
      rgba(0, 0, 0, 0.04) 0px 10px 10px;
    @include media-down(768px) {
      width: 100%;
      height: 100%;
      border-radius: unset;
      flex-direction: column;
    }

    .left-info {
      height: 100%;
      width: 30%;
      background-color: $account-theme-yellow-100;
      @include media-down(992px) {
        width: 50%;
      }
      @include media-down(768px) {
        height: 40%;
        width: 100%;
      }
    }
    .right-option {
      width: 70%;
      height: 100%;
      background-color: $account-theme-white-100;
      @include media-down(992px) {
        width: 50%;
      }
      @include media-down(768px) {
        height: 60%;
        width: 100%;
      }
    }
  }
}
