@import "@styles/resource.scss";

.full-page-loading {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: $theme-dark-opcity;

  z-index: $root-loading-z-index;
  display: none;
  &.loading {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .full-page-spining {
    .ant-spin-dot {
      font-size: 60px;
      i {
        font-size: 32px;
        width: 1em;
        height: 1em;
      }
    }
  }
}
