@import "@styles/resource.scss";

.register-form {
  .register-form-submit,
  .register-form-reset {
    width: 100%;
  }
  .login-form-agree {
    padding-left: $pd-4;
    color: $account-theme-infofont-100;
    &:hover {
      text-decoration: underline;
    }
  }
  .register-form-btn-group {
    justify-content: space-around;
  }
  .register-form-btn {
  }
}
